flush > /opt/app/bin/envs/node.env << NODE_ENV_EOF
NODE_CTL=logstash
DATA_MOUNTS="/data"
SERVICES="\$SERVICES logstash/true/"
MY_IP={{ getv "/host/ip" }}
{{- if (eq (getv "/env/qs.plugin.enabled" "false") "true") }}
LS_VERSION=5.4.3
{{- end }}
NODE_ENV_EOF
