flush > /opt/app/conf/logstash/logstash.yml << LS_YML_EOF
config.reload.automatic: {{ getv "/env/config.reload.automatic" "false" }}
config.reload.interval: {{ getv "/env/config.reload.interval" "3s" }}

http.host: "{{ getv "/host/ip" }}"

node.name: {{ getv "/cluster/cluster_id" }}-{{ getv "/host/sid" }}

path.config: /data/logstash/config/logstash.conf
path.data: /data/logstash/data
path.logs: /data/logstash/logs
path.plugins: [ /data/logstash/plugins ]
path.queue: /data/logstash/queue
LS_YML_EOF
