#!/usr/bin/env bash

set -e

{{- $joiningDataNodes := getvs "/adding-hosts/es_node*/*/ip" }}
{{- $leavingDataNodes := getvs "/deleting-hosts/es_node*/*/ip" }}
stableDataNodes="$(sort -V - << STABLE_NODES_EOF |
{{- range getvs "/hosts/es_node*/*/ip" }}
  {{- if not (or $joiningDataNodes $leavingDataNodes | filter .) }}
    {{ . }}
  {{- end }}
{{- end }}
STABLE_NODES_EOF
 xargs)"

{{- $joiningMasterNodes := getvs "/adding-hosts/es_master_node/*/ip" }}
{{- $leavingMasterNodes := getvs "/deleting-hosts/es_master_node/*/ip" }}
stableMasterNodes="$(sort -V - << STABLE_NODES_EOF |
{{- range getvs "/hosts/es_master_node/*/ip" }}
  {{- if not (or $joiningMasterNodes $leavingMasterNodes | filter .) }}
    {{ . }}
  {{- end }}
{{- end }}
STABLE_NODES_EOF
 xargs)"

flush > /opt/app/bin/scaling.env << SCALING_ENV_EOF
JOINING_DATA_NODES="{{ join $joiningDataNodes " " }}"
LEAVING_DATA_NODES="{{ join $leavingDataNodes " " }}"
STABLE_DATA_NODES="$stableDataNodes"
JOINING_MASTER_NODES="{{ join $joiningMasterNodes " " }}"
LEAVING_MASTER_NODES="{{ join $leavingMasterNodes " " }}"
STABLE_MASTER_NODES="$stableMasterNodes"
NUM_LEAVING_NODES={{ len (ls "/deleting-hosts") }}
SCALING_ENV_EOF
