flush > /opt/app/bin/envs/svc-elasticsearch-exporter.env << 'ES_EXPORTER_ENV_EOF'
SERVICES="$SERVICES elasticsearch-exporter/{{ getv "/env/prometheus.elasticsearch.exporter" "false" }}/http:9108"
ES_EXPORTER_ENV_EOF
