firstKibanaSid="$(echo {{ join (getvs "/hosts/kbn_node/*/sid") " " }} | xargs -n1 | sort -n | head -1)"
if [ "$firstKibanaSid" = "{{ getv "/host/sid" }}" ]; then
  keepalivedRole=MASTER
  keepalivedPriority=100
else
  keepalivedRole=BACKUP
  keepalivedPriority=1
fi

{{- $esVip := getv "/cluster/endpoints/reserved_ips/esvip/value" }}

cat > /opt/app/conf/keepalived/keepalived.conf << KEEPALIVED_EOF
global_defs {
  enable_script_security
  script_user root root
}

vrrp_script check_haproxy {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance {{ getv "/cluster/cluster_id" }} {
  state $keepalivedRole
  interface eth0
  virtual_router_id {{ index (split $esVip ".") 3 }}
  priority $keepalivedPriority

  virtual_ipaddress {
    {{ $esVip }}
  }

  track_script {
    check_haproxy
  }
}
KEEPALIVED_EOF
