{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "advanced_actions": [
    "scale_horizontal"
  ],
  "upgrading_policy": "sequential",
  "nodes": [{
    "role": "es_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-lzxnzqea"
    },
    "instance_class": {{cluster.es_node.instance_class}},
    "count": {{cluster.es_node.count}},
    "cpu": {{cluster.es_node.cpu}},
    "memory": {{cluster.es_node.memory}},
    "volume": {
      "size": {{cluster.es_node.volume_size}},
      "mount_point": ["/data", "/data2", "/data3"],
      "class": {{cluster.es_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleIn",
        "cmd": "appctl scale in",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scale out",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": false,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 2,
        "timeout": 43200
      }
    },
    "env": {
      "action.destructive_requires_name": {{env.es_node.action.destructive_requires_name}},
      "appctl.tcp_keepalive_intvl": {{env.es_node.appctl.tcp_keepalive_intvl}},
      "appctl.tcp_keepalive_probes": {{env.es_node.appctl.tcp_keepalive_probes}},
      "appctl.tcp_keepalive_time": {{env.es_node.appctl.tcp_keepalive_time}},
      "appctl.upgrade.enabled": true,
      "clean_logs_older_than_n_days": {{env.es_node.clean_logs_older_than_n_days}},
      "discovery.zen.no_master_block": {{env.es_node.discovery.zen.no_master_block}},
      "enable_heap_dump": {{env.es_node.enable_heap_dump}},
      "es_additional_line1": {{env.es_node.es_additional_line1}},
      "es_additional_line2": {{env.es_node.es_additional_line2}},
      "es_additional_line3": {{env.es_node.es_additional_line3}},
      "gateway.recover_after_time": {{env.es_node.gateway.recover_after_time}},
      "heap_dump_path": {{env.es_node.heap_dump_path}},
      "http.cors.enabled": {{env.es_node.http.cors.enabled}},
      "http.cors.allow-origin": {{env.es_node.http.cors.allow-origin}},
      "indices.fielddata.cache.size": {{env.es_node.indices.fielddata.cache.size}},
      "indices.queries.cache.size": {{env.es_node.indices.queries.cache.size}},
      "indices.memory.index_buffer_size": {{env.es_node.indices.memory.index_buffer_size}},
      "indices.requests.cache.size": {{env.es_node.indices.requests.cache.size}},
      "logger.action.level": {{env.es_node.logger.action.level}},
      "logger.deprecation.level": {{env.es_node.logger.deprecation.level}},
      "logger.index_search_slowlog_rolling.level": {{env.es_node.logger.index_search_slowlog_rolling.level}},
      "logger.index_indexing_slowlog.level": {{env.es_node.logger.index_indexing_slowlog.level}},
      "node.attr.data": {{env.es_node.node.attr.data}},
      "path.repo": {{env.es_node.path.repo}},
      "repositories.url.allowed_urls": {{env.es_node.repositories.url.allowed_urls}},
      "reindex.remote.whitelist": {{env.es_node.reindex.remote.whitelist}},
      "remote_ext_dict": {{env.es_node.remote_ext_dict}},
      "remote_ext_stopwords": {{env.es_node.remote_ext_stopwords}},
      "rootLogger.level": {{env.es_node.rootLogger.level}},
      "script.allowed_types": {{env.es_node.script.allowed_types}},
      "script.allowed_contexts": {{env.es_node.script.allowed_contexts}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"]
      },
      "display": ["cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"],
      "alarm": ["cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"]
    }
  }, {
    "role": "es_master_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-lzxnzqea"
    },
    "instance_class": {{cluster.es_master_node.instance_class}},
    "count": {{cluster.es_master_node.count}},
    "cpu": {{cluster.es_master_node.cpu}},
    "memory": {{cluster.es_master_node.memory}},
    "volume": {
      "size": {{cluster.es_master_node.volume_size}},
      "class": {{cluster.es_master_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "cmd": "appctl scale in",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scale out",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": false,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 1,
        "timeout": 300
      }
    },
    "env": {
      "action.destructive_requires_name": {{env.es_node.action.destructive_requires_name}},
      "appctl.tcp_keepalive_intvl": {{env.es_node.appctl.tcp_keepalive_intvl}},
      "appctl.tcp_keepalive_probes": {{env.es_node.appctl.tcp_keepalive_probes}},
      "appctl.tcp_keepalive_time": {{env.es_node.appctl.tcp_keepalive_time}},
      "clean_logs_older_than_n_days": {{env.es_node.clean_logs_older_than_n_days}},
      "discovery.zen.no_master_block": {{env.es_node.discovery.zen.no_master_block}},
      "enable_heap_dump": {{env.es_node.enable_heap_dump}},
      "es_additional_line1": {{env.es_node.es_additional_line1}},
      "es_additional_line2": {{env.es_node.es_additional_line2}},
      "es_additional_line3": {{env.es_node.es_additional_line3}},
      "indices.fielddata.cache.size": {{env.es_node.indices.fielddata.cache.size}},
      "gateway.recover_after_time": {{env.es_node.gateway.recover_after_time}},
      "heap_dump_path": {{env.es_node.heap_dump_path}},
      "http.cors.enabled": {{env.es_node.http.cors.enabled}},
      "http.cors.allow-origin": {{env.es_node.http.cors.allow-origin}},
      "indices.queries.cache.size": {{env.es_node.indices.queries.cache.size}},
      "indices.memory.index_buffer_size": {{env.es_node.indices.memory.index_buffer_size}},
      "indices.requests.cache.size": {{env.es_node.indices.requests.cache.size}},
      "logger.action.level": {{env.es_node.logger.action.level}},
      "logger.deprecation.level": {{env.es_node.logger.deprecation.level}},
      "logger.index_search_slowlog_rolling.level": {{env.es_node.logger.index_search_slowlog_rolling.level}},
      "logger.index_indexing_slowlog.level": {{env.es_node.logger.index_indexing_slowlog.level}},
      "path.repo": {{env.es_node.path.repo}},
      "repositories.url.allowed_urls": {{env.es_node.repositories.url.allowed_urls}},
      "reindex.remote.whitelist": {{env.es_node.reindex.remote.whitelist}},
      "remote_ext_dict": {{env.es_node.remote_ext_dict}},
      "remote_ext_stopwords": {{env.es_node.remote_ext_stopwords}},
      "rootLogger.level": {{env.es_node.rootLogger.level}},
      "script.allowed_types": {{env.es_node.script.allowed_types}},
      "script.allowed_contexts": {{env.es_node.script.allowed_contexts}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive",
      "action_timeout_sec": 150
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"]
      },
      "display": ["cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"],
      "alarm": ["cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"]
    }
  }, {
    "role": "es_node_2",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-lzxnzqea"
    },
    "instance_class": {{cluster.es_node_2.instance_class}},
    "count": {{cluster.es_node_2.count}},
    "cpu": {{cluster.es_node_2.cpu}},
    "memory": {{cluster.es_node_2.memory}},
    "volume": {
      "size": {{cluster.es_node_2.volume_size}},
      "mount_point": ["/data", "/data2", "/data3"],
      "class": {{cluster.es_node_2.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleIn",
        "cmd": "appctl scale in",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scale out",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": false,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 3,
        "timeout": 43200
      }
    },
    "env": {
      "action.destructive_requires_name": {{env.es_node.action.destructive_requires_name}},
      "appctl.tcp_keepalive_intvl": {{env.es_node.appctl.tcp_keepalive_intvl}},
      "appctl.tcp_keepalive_probes": {{env.es_node.appctl.tcp_keepalive_probes}},
      "appctl.tcp_keepalive_time": {{env.es_node.appctl.tcp_keepalive_time}},
      "appctl.upgrade.enabled": true,
      "clean_logs_older_than_n_days": {{env.es_node.clean_logs_older_than_n_days}},
      "discovery.zen.no_master_block": {{env.es_node.discovery.zen.no_master_block}},
      "enable_heap_dump": {{env.es_node.enable_heap_dump}},
      "es_additional_line1": {{env.es_node.es_additional_line1}},
      "es_additional_line2": {{env.es_node.es_additional_line2}},
      "es_additional_line3": {{env.es_node.es_additional_line3}},
      "gateway.recover_after_time": {{env.es_node.gateway.recover_after_time}},
      "heap_dump_path": {{env.es_node.heap_dump_path}},
      "http.cors.enabled": {{env.es_node.http.cors.enabled}},
      "http.cors.allow-origin": {{env.es_node.http.cors.allow-origin}},
      "indices.fielddata.cache.size": {{env.es_node.indices.fielddata.cache.size}},
      "indices.queries.cache.size": {{env.es_node.indices.queries.cache.size}},
      "indices.memory.index_buffer_size": {{env.es_node.indices.memory.index_buffer_size}},
      "indices.requests.cache.size": {{env.es_node.indices.requests.cache.size}},
      "logger.action.level": {{env.es_node.logger.action.level}},
      "logger.deprecation.level": {{env.es_node.logger.deprecation.level}},
      "logger.index_search_slowlog_rolling.level": {{env.es_node.logger.index_search_slowlog_rolling.level}},
      "logger.index_indexing_slowlog.level": {{env.es_node.logger.index_indexing_slowlog.level}},
      "node.attr.data": {{env.es_node_2.node.attr.data}},
      "path.repo": {{env.es_node.path.repo}},
      "repositories.url.allowed_urls": {{env.es_node.repositories.url.allowed_urls}},
      "reindex.remote.whitelist": {{env.es_node.reindex.remote.whitelist}},
      "remote_ext_dict": {{env.es_node.remote_ext_dict}},
      "remote_ext_stopwords": {{env.es_node.remote_ext_stopwords}},
      "rootLogger.level": {{env.es_node.rootLogger.level}},
      "script.allowed_types": {{env.es_node.script.allowed_types}},
      "script.allowed_contexts": {{env.es_node.script.allowed_contexts}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"]
      },
      "display": ["cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"],
      "alarm": ["cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"]
    }
  }, {
    "role": "es_node_3",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-lzxnzqea"
    },
    "instance_class": {{cluster.es_node_3.instance_class}},
    "count": {{cluster.es_node_3.count}},
    "cpu": {{cluster.es_node_3.cpu}},
    "memory": {{cluster.es_node_3.memory}},
    "volume": {
      "size": {{cluster.es_node_3.volume_size}},
      "mount_point": ["/data", "/data2", "/data3"],
      "class": {{cluster.es_node_3.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleIn",
        "cmd": "appctl scale in",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scale out",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": false,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 4,
        "timeout": 43200
      }
    },
    "env": {
      "action.destructive_requires_name": {{env.es_node.action.destructive_requires_name}},
      "appctl.tcp_keepalive_intvl": {{env.es_node.appctl.tcp_keepalive_intvl}},
      "appctl.tcp_keepalive_probes": {{env.es_node.appctl.tcp_keepalive_probes}},
      "appctl.tcp_keepalive_time": {{env.es_node.appctl.tcp_keepalive_time}},
      "appctl.upgrade.enabled": true,
      "clean_logs_older_than_n_days": {{env.es_node.clean_logs_older_than_n_days}},
      "discovery.zen.no_master_block": {{env.es_node.discovery.zen.no_master_block}},
      "enable_heap_dump": {{env.es_node.enable_heap_dump}},
      "es_additional_line1": {{env.es_node.es_additional_line1}},
      "es_additional_line2": {{env.es_node.es_additional_line2}},
      "es_additional_line3": {{env.es_node.es_additional_line3}},
      "gateway.recover_after_time": {{env.es_node.gateway.recover_after_time}},
      "heap_dump_path": {{env.es_node.heap_dump_path}},
      "http.cors.enabled": {{env.es_node.http.cors.enabled}},
      "http.cors.allow-origin": {{env.es_node.http.cors.allow-origin}},
      "indices.fielddata.cache.size": {{env.es_node.indices.fielddata.cache.size}},
      "indices.queries.cache.size": {{env.es_node.indices.queries.cache.size}},
      "indices.memory.index_buffer_size": {{env.es_node.indices.memory.index_buffer_size}},
      "indices.requests.cache.size": {{env.es_node.indices.requests.cache.size}},
      "logger.action.level": {{env.es_node.logger.action.level}},
      "logger.deprecation.level": {{env.es_node.logger.deprecation.level}},
      "logger.index_search_slowlog_rolling.level": {{env.es_node.logger.index_search_slowlog_rolling.level}},
      "logger.index_indexing_slowlog.level": {{env.es_node.logger.index_indexing_slowlog.level}},
      "node.attr.data": {{env.es_node_3.node.attr.data}},
      "path.repo": {{env.es_node.path.repo}},
      "repositories.url.allowed_urls": {{env.es_node.repositories.url.allowed_urls}},
      "reindex.remote.whitelist": {{env.es_node.reindex.remote.whitelist}},
      "remote_ext_dict": {{env.es_node.remote_ext_dict}},
      "remote_ext_stopwords": {{env.es_node.remote_ext_stopwords}},
      "rootLogger.level": {{env.es_node.rootLogger.level}},
      "script.allowed_types": {{env.es_node.script.allowed_types}},
      "script.allowed_contexts": {{env.es_node.script.allowed_contexts}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"]
      },
      "display": ["cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"],
      "alarm": ["cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number"]
    }
  }, {
    "role": "lst_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-mbn585bq"
    },
    "instance_class": {{cluster.lst_node.instance_class}},
    "count": {{cluster.lst_node.count}},
    "cpu": {{cluster.lst_node.cpu}},
    "memory": {{cluster.lst_node.memory}},
    "volume": {
      "size": {{cluster.lst_node.volume_size}}
    },
    "user_access": true,
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 6,
        "timeout": 43200
      }
    },
    "env": {
      "config.reload.automatic": {{env.lst_node.config.reload.automatic}},
      "config.reload.interval": {{env.lst_node.config.reload.interval}},
      "input_conf_content": {{env.lst_node.input_conf_content}},
      "filter_conf_content": {{env.lst_node.filter_conf_content}},
      "output_conf_content": {{env.lst_node.output_conf_content}},
      "output_es_content": {{env.lst_node.output_es_content}},
      "gemfile_append_content": {{env.lst_node.gemfile_append_content}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "healthy_threshold": 2,
      "unhealthy_threshold": 5,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }, {
    "role": "kbn_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-mc397efw"
    },
    "instance_class": {{cluster.kbn_node.instance_class}},
    "count": {{cluster.kbn_node.count}},
    "cpu": {{cluster.kbn_node.cpu}},
    "memory": {{cluster.kbn_node.memory}},
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 5,
        "timeout": 60
      }
    },
    "env": {
      "server.basePath": {{env.kbn_node.server.basePath}},
      "server.rewriteBasePath": {{env.kbn_node.server.rewriteBasePath}},
      "enable_elasticsearch_head": {{env.kbn_node.enable_elasticsearch_head}},
      "enable_elastichd": {{env.kbn_node.enable_elastichd}},
      "enable_cerebro": {{env.kbn_node.enable_cerebro}},
      "enable_elasticsearch_hq": {{env.kbn_node.enable_elasticsearch_hq}},
      "enable_elasticsearch_sql": {{env.kbn_node.enable_elasticsearch_sql}},
      "proxy.balance.policy": {{env.kbn_node.proxy.balance.policy}},
      "proxy.connect.timeout": {{env.kbn_node.proxy.connect.timeout}},
      "proxy.timeout": {{env.kbn_node.proxy.timeout}},
      "proxy.max.conn": {{env.kbn_node.proxy.max.conn}},
      "nginx_client_max_body_size": {{env.kbn_node.nginx_client_max_body_size}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 3,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }],
  "env": {
    "web.console.password": ""
  },
  "endpoints": {
    "reserved_ips": {
      "esvip": {
        "value": ""
      }
    },
    "ElasticSearch": {
      "port": 9200,
      "protocol": "http"
    },
    "Logstash": {
      "port": 9600,
      "protocol": "http"
    },
    "Kibana": {
      "port": 5601,
      "protocol": "http"
    },
    "Cerebro on Kibana": {
      "port": 9000,
      "protocol": "http"
    },
    "ES Head on Kibana": {
      "port": 9100,
      "protocol": "http"
    },
    "ElasticHD on Kibana": {
      "port": 9800,
      "protocol": "http"
    }
  }
}
