generatePassword() {
  < /dev/urandom tr -dc 'A-Za-z0-9!#$%&()*+,-./:;<=>?@[\]^_`{|}~' | head -c ${1:-24}
}

flush > /opt/app/conf/cerebro/cerebro.conf << CEREBRO_CONF_EOF
secret = "$(generatePassword)"
basePath = "/"
pidfile.path=/var/run/cerebro/cerebro.pid
rest.history.size = 50 // defaults to 50 if not specified
data.path = "/data/cerebro/data/cerebro.db"

es = {
  gzip = true
}

auth = {
}

hosts = [{
  host = "http://{{ getv "/cluster/endpoints/reserved_ips/esvip/value" }}:9200"
  name = "{{ getv "/cluster/cluster_id" }}"
  # auth = {
  #   username = "username"
  #   password = "secret-password"
  # }
}]
CEREBRO_CONF_EOF

