#!/usr/bin/env bash

set -e

flush > /opt/app/bin/upgrade.env << UPGRADE_ENV_EOF
ES_NODES="{{ range $i, $ip := getvs "/hosts/es_node/*/ip" }}{{ if $i }},{{ end }}{{ $ip }}{{ end }}"
LOGSTASH_NODES="{{ range $i, $ip := getvs "/hosts/lst_node/*/ip" }}{{ if $i }},{{ end }}{{ $ip }}{{ end }}"
KIBANA_NODES="{{ range $i, $ip := getvs "/hosts/kbn_node/*/ip" }}{{ if $i }},{{ end }}{{ $ip }}{{ end }}"
UPGRADE_ENV_EOF
