flush /opt/app/bin/envs/node.env << NODE_ENV_EOF
NODE_CTL=kibana
SERVICES="\$SERVICES kibana/true/http:5601"
MY_IP={{ getv "/host/ip" }}
ES_VIP={{ getv "/cluster/endpoints/reserved_ips/esvip/value" }}
KIBANA_NODES="$(echo "{{ join (getvs "/hosts/kbn_node/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
NODE_ENV_EOF
