flush > /opt/app/conf/kibana/kibana.yml << KIBANA_YML_EOF
server.port: 5601
server.host: {{ getv "/host/ip" }}
{{- if (getv "/env/server.basePath" "") }}
server.basePath: "{{ getv "/env/server.basePath" "" }}"
server.rewriteBasePath: {{ getv "/env/server.rewriteBasePath" "false" }}
{{- end }}
server.maxPayloadBytes: 1048576
server.name: Kibana
elasticsearch.hosts: [ http://{{ getv "/cluster/endpoints/reserved_ips/esvip/value" }}:9200 ]
elasticsearch.preserveHost: true
kibana.index: ".kibana-7"
kibana.defaultAppId: "home"
elasticsearch.username: "user"
elasticsearch.password: "pass"
server.ssl.enabled: false
elasticsearch.pingTimeout: 1500
elasticsearch.requestTimeout: 30000
elasticsearch.requestHeadersWhitelist: [ authorization ]
elasticsearch.shardTimeout: 30000
elasticsearch.startupTimeout: 5000
elasticsearch.logQueries: false
pid.file: /var/run/kibana/kibana.pid
logging.dest: /data/kibana/logs/kibana.log
logging.silent: false
logging.quiet: false
logging.verbose: false
ops.interval: 5000
KIBANA_YML_EOF
