cat > /opt/app/bin/.env << APP_ENV_EOF
MY_ROLE={{ $myRole }}

{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}

{{- if eq $myRole "kibana" }}
{{- range gets "/env/enable_*" }}
{{ base .Key | toUpper }}={{ .Value }}
{{- end }}
{{- end }}
APP_ENV_EOF

