{{- $halfMemory := div (getv "/host/memory") 2 }}
cat > /usr/share/logstash/config/jvm.options << LS_JVM_EOF
-Xms{{ $halfMemory }}m
-Xmx{{ $halfMemory }}m

-XX:+UseParNewGC
-XX:+UseConcMarkSweepGC
-XX:CMSInitiatingOccupancyFraction=75
-XX:+UseCMSInitiatingOccupancyOnly

-Duser.language=zh
-Duser.country=CN

-Djava.awt.headless=true

-Dfile.encoding=UTF-8

-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/logstash/dump/dump.hprof

-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintClassHistogram
-XX:+PrintTenuringDistribution
-XX:+PrintGCApplicationStoppedTime

-Xloggc:/data/logstash/logs/gc.log
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=5
-XX:GCLogFileSize=2m

-Djava.security.egd=file:/dev/urandom
LS_JVM_EOF

