cat > /opt/app/conf/caddy/Caddyfile << LS_CADDYFILE_EOF
{{ $myIp }}:80 {
  root /data/elasticsearch
  gzip
  browse /dicts
  browse /logs
  tls off

  upload / {
    yes_without_tls
    to /data/elasticsearch/dicts
  }
}

{{ $myIp }}:80/logstash/logs {
  root /data/logstash/logs
  gzip
  browse
  tls off
}
LS_CADDYFILE_EOF

