{{- $rolesMap := map "es_node" "elasticsearch-1" "es_node_2" "elasticsearch-2" "es_node_3" "elasticsearch-3" "es_master_node" "elasticsearch-master" }}
{{- $myRole := index $rolesMap (getv "/host/role") }}
{{- $mySid := getv "/host/sid" }}
{{- $myIp := getv "/host/ip" }}

flush > /opt/app/bin/envs/node.env << ES_ENV_EOF
NODE_CTL=elasticsearch
DATA_MOUNTS="/data"
MY_IP={{ $myIp }}
MY_ROLE={{ $myRole }}
{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}
IS_MASTER={{ eq $myRole "elasticsearch-master" }}
ROLE_NODES="$(echo "{{ join (getvs (printf "/hosts/%s/*/ip" (getv "/host/role"))) " " }}" | xargs -n1 | sort -V | xargs)"
DATA_NODES="$(echo "{{ join (getvs "/hosts/es_node*/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
MASTER_NODES="$(echo "{{ join (getvs "/hosts/es_master_node/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
HEAP_DUMP_PATH="{{ getv "/env/heap_dump_path" "/data/elasticsearch/dump" }}"
SERVICES="\$SERVICES elasticsearch/true/http:9200"
ES_ENV_EOF
