{{- $maxHeapSize := mul 31 1024 }}
{{- $halfMemory := div (getv "/host/memory") 2 }}
{{- $heapSize := min $halfMemory $maxHeapSize }}
flush > /opt/app/conf/elasticsearch/jvm.options << ES_JVM_EOF
-Xms{{ $heapSize }}m
-Xmx{{ $heapSize }}m

-XX:+UseConcMarkSweepGC
-XX:CMSInitiatingOccupancyFraction=75
-XX:+UseCMSInitiatingOccupancyOnly

-Des.networkaddress.cache.ttl=60
-Des.networkaddress.cache.negative.ttl=10
-Des.allow_insecure_settings=true

-Djava.security.policy=file:///opt/app/conf/elasticsearch/dicts.policy

-XX:+AlwaysPreTouch

-Xss1m

-Djava.awt.headless=true

-Dfile.encoding=UTF-8

-Djna.nosys=true

-XX:-OmitStackTraceInFastThrow

-Dio.netty.noUnsafe=true
-Dio.netty.noKeySetOptimization=true
-Dio.netty.recycler.maxCapacityPerThread=0

-Dlog4j.shutdownHookEnabled=false
-Dlog4j2.disable.jmx=true
-Dlog4j.skipJansi=true

{{- if eq (getv "/env/enable_heap_dump" "") "true" }}
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath={{ getv "/env/heap_dump_path" "/data/elasticsearch/dump" }}
{{- end }}

-XX:+ExitOnOutOfMemoryError

-XX:ErrorFile=/data/elasticsearch/logs/hs_err_pid%p.log

-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintClassHistogram
-XX:+PrintTenuringDistribution
-XX:+PrintGCApplicationStoppedTime
-Xloggc:/data/elasticsearch/logs/gc.log
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=5
-XX:GCLogFileSize=2m
ES_JVM_EOF

