hostsFile=/etc/hosts
sed "/^# >> ES nodes./,/^# << ES nodes./d" $hostsFile > $hostsFile.swap
flush >> $hostsFile.swap << HOSTS_FILE
# >> ES nodes. WARNING: this is managed by script and please don't touch manually.
$(echo "$allNodes" | awk -F/ '{print $5, $4}')
# << ES nodes. WARNING: this is managed by script and please don't touch manually.
HOSTS_FILE
mv $hostsFile.swap $hostsFile
