#!/usr/bin/env bash

set -eo pipefail

{{- $rolesMap := map "es_node" "elasticsearch-1" "es_node_2" "elasticsearch-2" "es_node_3" "elasticsearch-3" "es_master_node" "elasticsearch-master" "kbn_node" "kibana" "lst_node" "logstash" }}
{{- $myRole := index $rolesMap (getv "/host/role") }}
{{- $mySid := getv "/host/sid" }}
{{- $myIp := getv "/host/ip" }}
{{- $esVip := getv "/cluster/endpoints/reserved_ips/esvip/value" }}

updateAndCompareFile() {
  cat > "$1.new" -
  local changes=$(diff -N --unchanged-line-format= --new-line-format="%L" "$1" "$1.new")
  mv "$1.new" "$1"
  echo "$changes"
}

map() {
  local func=$1
  local args="${@:2}"
  for arg in $args; do
    echo $($func $arg)
  done
}

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT
