installedServices="$(echo "
{{- if (split $myRole "-" | filter "elasticsearch") }}
elasticsearch/true/http:9200
{{- else if eq $myRole "logstash" }}
logstash/true/http:9600
{{- else if eq $myRole "kibana" }}
haproxy/true/http:9200
keepalived/true/
kibana/true/http:5601
{{- end }}
caddy/true/http:80
" | xargs)"

cat > /opt/app/bin/app.env << APP_ENV_EOF
MY_IP={{ $myIp }}
MY_ROLE={{ $myRole }}

{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}

SERVICES="$installedServices"

{{- if (split $myRole "-" | filter "elasticsearch") }}
IS_MASTER={{ eq $myRole "elasticsearch-master" }}
ROLE_NODES="$(echo "{{ join (getvs (printf "/hosts/%s/*/ip" (getv "/host/role"))) " " }}" | xargs -n1 | sort -V | xargs)"
DATA_NODES="$(echo "{{ join (getvs "/hosts/es_node*/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
MASTER_NODES="$(echo "{{ join (getvs "/hosts/es_master_node/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
HEAP_DUMP_PATH="{{ getv "/env/heap_dump_path" "/data/elasticsearch/dump" }}"
{{- end }}

{{- if eq $myRole "kibana" }}
ES_VIP={{ $esVip }}
{{- end }}
APP_ENV_EOF

