cat > /opt/app/bin/.env << APP_ENV_EOF
MY_IP={{ $myIp }}
MY_ROLE={{ $myRole }}

{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}

{{- if (split $myRole "-" | filter "elasticsearch") }}
IS_MASTER={{ eq $myRole "elasticsearch-master" }}
ROLE_NODES="$(echo "{{ join (getvs (printf "/hosts/%s/*/ip" (getv "/host/role"))) " " }}" | xargs -n1 | sort -V | xargs)"
DATA_NODES="$(echo "{{ join (getvs "/hosts/es_node*/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
MASTER_NODES="$(echo "{{ join (getvs "/hosts/es_master_node/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
HEAP_DUMP_PATH="{{ getv "/env/heap_dump_path" "/data/elasticsearch/dump" }}"
{{- end }}

{{- if eq $myRole "kibana" }}
ES_VIP={{ $esVip }}

{{- range gets "/env/enable_*" }}
{{ base .Key | toUpper }}={{ .Value }}
{{- end }}

{{- end }}
APP_ENV_EOF

