[Unit]
Description=Kibana

[Service]
Type=simple
User=kibana
Group=svc
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=/opt/app/conf/kibana/.env
RuntimeDirectory=kibana
ExecStart=/opt/kibana/current/bin/kibana "-c /opt/app/conf/kibana/kibana.yml"
StartLimitInterval=30
StartLimitBurst=3
Restart=always
WorkingDirectory=/data/kibana

[Install]
WantedBy=multi-user.target
